<!--::header part start::-->
<header class="main_menu home_menu">
    <div class="header-top black-bg d-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div class="header-contact">
                        <a href="#">Agrément n°AGD-01-2018-05-25-A-00042257</a>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div class="header-top-menu">
                        <nav>
                            <ul>
                                <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" routerLink="/"> <img src="../../../assets/img/logo.png"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="ti-menu"></span>
                    </button>

                    <div class="collapse navbar-collapse main-menu-item justify-content-end"
                        id="navbarSupportedContent">
                        <ul class="navbar-nav align-items-center">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/about">A propos</a>
                            </li>
                            <li class="nav-item" >
                                <a class="nav-link" href="#prestations">Nos Prestations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/publications">Nos Publications</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" href="#agence">Notre Agence</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header part end-->
