 <!-- footer part start-->
 <footer class="footer-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-md-4 col-xl-4">
                <div class="single-footer-widget footer_1">
                    <a href="index.html"> <img src="../../../assets/img/footer_logo.png" alt=""> </a>
                    <p>L’autorisation d’exercer ne confère aucune prérogative de puissance publique à l’entreprise ou aux personnes qui en bénéficient.</p>
                    <p class="social"><a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-linkedin"></i></a></p>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 col-md-4">
                <div class="single-footer-widget footer_2">
                    <h4>Menu</h4>
                    <div class="contact_info">
                        <ul>
                            <li>
                                <a href="#prestations"> Nos Prestations</a>
                            </li>
                            <li>
                                <a href="#publications">Nos Publications</a>
                            </li>
                            <li>
                                <a href="#agence">Notre Agence</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6 col-md-4">
                <div class="single-footer-widget footer_2">
                    <h4>Contact</h4>
                    <div class="contact_info"> 
                        <p><span>Address :</span> 2S GARANTIE 10 Rue de la JOHARDIERE 44800 Saint-Herblain</p>
                        <p><span>Astreinte :</span> 07 60 55 33 21 &nbsp;&nbsp;  <span>Tel :</span> 02 85 52 34 18  &nbsp;&nbsp; <span> Fax :</span> 09 72 46 35 68 </p>
                        <p><span>BP : </span>44887 Saint Herblain</p>
                        <p><span>Email : </span>contact@2sgarantie.com </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright_part_text text-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="footer-text m-0">Copyright ©2sGarantie | 2020</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer part end-->
