<!--================Blog Area =================-->
<section class="blog_area section_padding" style="margin-top: 30px; margin-bottom: 70px;" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                   <div class="feature-img">
                      <img class="img-fluid" src="../../../assets/img/blog/single_blog_4.png" alt="">
                   </div>
                   <div class="blog_details">
                      <h2>Sécurité : les premiers
                      </h2>
                      <ul class="blog-info-link mt-3 mb-4">
                         <li><a href="#"><i class="far fa-user"></i> Travel, Lifestyle</a></li>
                         <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                      </ul>
                      <p class="excert">
                        Sécurité : les premiers chiffres de la criminalité et de la délinquance en 2017le 2 février 2018
                        Le service statistique ministériel de la sécurité intérieure (SSMSI) a publié le 24 janvier 2018 
                        un premier bilan de la délinquance en 2017. Le document analyse l’évolution des crimes et délits 
                        comptabilisés par les services de police et de gendarmerie. Un bilan plus complet doit être remis 
                        à l’automne, lors des résultats de l’enquête “Cadre de vie et sécurité” (CVS) 2018, réalisée par 
                        l’Insee auprès de l’ensemble de la population.
                      </p>
                      <h3>
                        Le nombre de violences physiques augmente, celui des vols baisse
                      </h3>
                      <ul class="list-group">
                          <li>En 2017, 825 personnes ont été victimes d’homicides. Ce chiffre est en baisse par rapport aux deux années précédentes. 
                            Néanmoins, hors attentats, les homicides sont alors en légère augmentation.Les classes d’âge les plus touchées sont les 
                            15-29 ans, puis les 30-44 ans ;
                          </li>
                          <li>
                            Le nombre de victimes de coups et blessures volontaires (sur personnes de 15 ans ou plus) enregistré par les forces 
                            de sécurité progresse pour la quatrième année consécutive (+4%) ;
                          </li>
                          <li>
                            Les vols avec violence, avec ou sans arme, reculent depuis quatre ans. Ils représentent 95 000 en 2017. Les vols sans 
                            violence se produisent essentiellement en ville (particulièrement en région parisienne) et impliquent des jeunes en 
                            tant que victimes et en tant qu’auteurs ;
                          </li>
                          <li>
                            Les escroqueries et infractions assimilées augmentent de 31% depuis 2012 et touchent en 2017 près de 320 000 personnes. 
                            Internet est le vecteur principal pour ces délits ;
                          </li>
                          <li>
                            Les cambriolages de logements connaissent une hausse dans certaines régions telles que la Bretagne, la Nouvelle-Aquitaine 
                            et la Corse. Les vols liés à l’automobile baissent depuis plusieurs années.
                          </li>
                      </ul>
                      
                      <p>
                        Certains chiffres recensés par les services de police et de gendarmerie ne reflètent pas les mêmes évolutions que les enquêtes CVS de l’Insee.
                      </p>
                      <h3>
                        Les viols et autres agressions sexuelles
                      </h3>
                      <p>
                        En 2017, les plaintes pour viols et autres agressions sexuelles (y compris harcèlement) augmentent fortement (+12%). 
                        Cette hausse est particulièrement notable pour le 4e trimestre (+31,5% par rapport au 4e trimestre 2016). Ce phénomène 
                        s’inscrit dans un contexte de révélations d’agressions sexuelles et de prise de parole des femmes (#balancetonporc ou #Metoo).
                      </p>
                    </div>
                    <div class="section-top-border">
                        <h3>Gallerie Image</h3>
                        <div class="row gallery-item">
                            <div class="col-md-4">
                                <a href="../../../assets/img/blog/single_blog_4.png" class="img-pop-up">
                                    <div class="single-gallery-image" style="background: url(../../../assets/img/blog/single_blog_4.png);"></div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="../../../assets/img/blog/single_blog_1.png" class="img-pop-up">
                                    <div class="single-gallery-image" style="background: url(../../../assets/img/blog/single_blog_1.png);"></div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="../../../assets/img/blog/single_blog_2.png" class="img-pop-up">
                                    <div class="single-gallery-image" style="background: url(../../../assets/img/blog/single_blog_2.png);"></div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="../../../assets/img/blog/single_blog_3.png" class="img-pop-up">
                                    <div class="single-gallery-image" style="background: url(../../../assets/img/blog/single_blog_3.png);"></div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="../../../assets/img/blog/single_blog_4.png" class="img-pop-up">
                                    <div class="single-gallery-image" style="background: url(../../../assets/img/blog/single_blog_4.png);"></div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="../../../assets/img/blog/single_blog_1.png" class="img-pop-up">
                                    <div class="single-gallery-image" style="background: url(../../../assets/img/blog/single_blog_1.png);"></div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="../../../assets/img/blog/single_blog_2.png" class="img-pop-up">
                                    <div class="single-gallery-image" style="background: url(../../../assets/img/blog/single_blog_2.png);"></div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="../../../assets/img/blog/single_blog_3.png" class="img-pop-up">
                                    <div class="single-gallery-image" style="background: url(../../../assets/img/blog/single_blog_3.png);"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                           <div class="form-group">
                              <div class="input-group mb-3">
                                 <input type="text" class="form-control" placeholder='Search Keyword'
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                 <div class="input-group-append">
                                    <button class="btn" type="button"><i class="ti-search"></i></button>
                                 </div>
                              </div>
                           </div>
                           <button class="button rounded-0 primary-bg text-white w-100 btn_1" type="submit">Ok</button>
                        </form>
                     </aside>

                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Nos Prestations</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Sécurité humaine</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Sécurité dans vos entreprises</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Sécurité incendie</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Inspiration</p>
                                    <p>21</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Sécurité evènementielle</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->
