<!-- ================ contact section start ================= -->
<section class="contact-section section_padding" style="margin-bottom: 70px;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Demande de devis</h2>
        </div>
        <div class="col-lg-8">
          <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                    <input class="form-control" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nom'" placeholder = 'Nom'>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" placeholder = 'Email'>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" name="numerosiret" id="name" type="number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Numero de siret'" placeholder = 'Numero de siret'>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" name="nombresheures" id="name" type="number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nombres d heures'" placeholder = 'Nombres d heures'>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" name="numerosiret" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Période'" placeholder = 'Période'>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" name="nombresheures" id="name" type="number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Spécialité demandée'" placeholder = 'Spécialité demandée'>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <textarea class="form-control w-100" name="adresse" id="adresse" cols="30" rows="5" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Votre adresse complète'" placeholder = 'Votre adresse complète'></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
              <button type="submit" class="button button-contactForm btn_1">Envoyer</button>
            </div>
          </form>
        </div>
        <div class="col-lg-4">
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
              <h3>2S GARANTIE 10 Rue de la JOHARDIERE</h3>
              <p>Rosemead, CA 91770</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
              <h3>02 85 52 34 18</h3>
              <p><span> Astreinte :</span> 07 60 55 33 21 &nbsp;&nbsp; <span> Fax :</span> 09 72 46 35 68</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
              <h3>contact@2sgarantie.com</h3>
              <p>Envoyez-nous votre demande à tout moment!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ contact section end ================= -->