<div ng-view autoscroll></div>
<!-- about part start-->
<section class="about_part experiance_part section_padding" style="margin-top: 25px;">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 col-lg-6">
                <div class="about_part_text">
                    <h2>Qui sommes-nous ?</h2>
                    <p>
                        2S Garantie est une agence qui met à votre disposition des agents de sécurité, des agents de sécurité incendie, des agents cynophile,
                         évène-mentiels, et de gardiennage de qualité, avec un suivi rigoureux pour la qualité du service. <br>
                        Vous êtes confrontés à un souci de sécurité, à un besoin de préven-tion incendie, vous souhaitez renforcer la garde de personnes ? <br>
                        Vous recherchez des agents pour accueillir, informer, orienter des visiteurs ? <br>
                        Vous cherchez une solution pour la surveillance de biens, l’entretien des moyens mis à disposition pour la sécurité ? <br>
                        2S Garantie est à votre disposition pour vous apporter la réponse adé-quate. <br>
                        Nous avons une plateforme d’agents compétents, qualifiés, expéri-mentés respectant le code de la sécurité intérieure. 
                    </p>
                    <div class="about_text_iner">
                        <div class="about_text_counter">
                            <h2>11</h2>
                        </div>
                        <div class="about_iner_content">
                            <h3>Années <span>d'Experience</span></h3> <br>
                            <a routerLink="/devis" class="btn_3">Demander un devis</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="about_part_img">
                    <img src="../../../assets/img/experiance_img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our_service padding_top" style="margin-bottom: 70px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="section_tittle">
                    <h2>Nos Avantages</h2>
                </div>
            </div>
        </div>
        <div class="row">
           <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12 col-xl-7">
                        <div class="row">
                            <div class="col-sm-6 col-xl-4">
                                <div class="single_feature">
                                    <div class="single_service single_service_2">
                                        <span class="flaticon-ui"><i class="fa fa-thumbs-o-up"></i></span>
                                        <h4>Des offres sur mesures</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <div class="single_feature">
                                    <div class="single_service single_service_2">
                                        <span class="flaticon-ui"><i class="fa fa-eur"></i></span>
                                        <h4>Des tarifs raisonnables</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <div class="single_feature">
                                    <div class="single_service">
                                        <span class="flaticon-ui"><i class="fa fa-street-view"></i></span>
                                        <h4>Votre sécurité assurée</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                   <div class="col-sm-12 col-xl-5">
                        <div class="row">
                            <div class="col-sm-6 col-xl-6">
                                <div class="single_feature">
                                    <div class="single_service single_service_2">
                                        <span class="flaticon-ui"><i class="fa fa-users"></i></span>
                                        <h4>Des agents compétents et qualifiés</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-6">
                                <div class="single_feature">
                                    <div class="single_service">
                                        <span class="flaticon-ui"><i class="fa fa-phone"></i></span>
                                        <h4>Service de qualité 7/7 et 24/24</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
           </div>
        </div>
    </div>
</section>