<!-- about part start-->
<section class="about_part experiance_part section_padding" style="margin-top: -5px;">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 col-lg-6">
                <div class="about_part_text">
                    <h2>Prévenez les risques</h2>
                    <p>
                        Devenir membre de l’équipe ? Si vous pensez avoir les aptitudes nécessaires pour ce  job  veuillez  postuler en
                        remplissant le champ ci-dessous. <br><br>
                        <a routerLink="/devis" class="btn_3">Demander un devis</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="about_part_img">
                    <img src="../../../assets/img/experiance_img4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part end-->

<!-- our_service start-->
<section class="our_service padding_top" id="prestations" style="margin-bottom: 70px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="section_tittle">
                    <h2>Prévention proposées</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xl-5">
                <div class="row">
                    <div class="col-sm-6 col-xl-6">
                        <div class="single_feature">
                            <div class="single_service single_service_2">
                                <span class="flaticon-ui"><i class="fa fa-dot-circle-o"></i></span>
                                <h4>Contrôle de systèmes d’alarmes</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-6">
                        <div class="single_feature">
                            <div class="single_service single_service_2">
                                <span class="flaticon-ui"><i class="fa fa-exclamation-triangle"></i></span>
                                <h4>Assimilation des risques existants</h4>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
           <div class="col-sm-12 col-xl-7">
                <div class="row">
                    <div class="col-sm-6 col-xl-4">
                        <div class="single_feature">
                            <div class="single_service">
                                <span class="flaticon-ui"><i class="fa fa-cog"></i></span>
                                <h4>Contrôle de matériel</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="single_feature">
                            <div class="single_service single_service_2">
                                <span class="flaticon-ui"><i class="fa fa-fire-extinguisher"></i></span>
                                <h4>Exploitabilité extincteurs</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="single_feature">
                            <div class="single_service">
                                <span class="flaticon-ui"><i class="fa fa-sign-out"></i></span>
                                <h4>Gestion de l’évacuation</h4>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
</section>
<!-- our_service part end-->