<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-xl-6 col-xs-12 col-sm-12">
                   <div class="row">
                       <div class="col-lg-4"></div>
                       <div class="col-lg-8 col-xs-12">
                            <div class="banner_text">
                                <div class="banner_text_iner fadeInUp" data-wow-duration="1.5s" data-wow-delay="300ms">
                                    <h1>Sécurité, Sérénité Garantie</h1>
                                    <p>
                                        2S Garantie est constituée par des professionnels aguerris, soucieux du respect du code de la sécurité inté-rieure.
                                    </p>
                                    <a routerLink="/devis" class="btn_1">Demander un devis</a>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
                <div class="col-lg-6 col-xl-6 carousel-img">
                    <img src="../../../assets/img/banner_img.png" alt="">
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-xl-6  col-xs-12 col-sm-12">
                   <div class="row">
                       <div class="col-lg-4"></div>
                       <div class="col-lg-8 col-xs-12">
                            <div class="banner_text">
                                <div class="banner_text_iner fadeInUp" data-wow-duration="1.5s" data-wow-delay="300ms">
                                    <h1>Sécurité, Sérénité Garantie</h1>
                                    <p>
                                        Avec 2S Garantie, vous bénéficiez de services uniques avec la qualité re-quise.
                                    </p>
                                    <a routerLink="/devis" class="btn_1">Demander un devis</a>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
                <div class="col-lg-6 col-xl-6 carousel-img">
                    <img src="../../../assets/img/banner_img2.png" alt="">
                </div>
            </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<!-- about part start-->
<section class="about_part section_padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 col-lg-6">
                <div class="about_part_img">
                    <img src="../../../assets/img/about_part_img.png" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="about_part_text">
                    <h2>Nos Atouts</h2>
                    <ul>
                        <li>
                            <span class="flaticon-plane"><img src="../../../assets/img/safety.png" width="75%" alt=""></span>
                            <h3 style="margin-left: 12px;">2S Garantie</h3>
                            <p style="margin-left: 12px;">
                                • Une très grande réactivité à vos de-mandes. <br>
                                • Une mise à disposition rapide et effi-cace. <br>
                                • Un suivi rigoureux des missions. <br>
                                • Une disponibilité et une écoute 7j/7 
                                et 24h/24 grâce au numéro d’astreinte 07 60 55 33 21.<br>
                                • La publication gratuite de vos an-nonces sur notre site internet.
                               <br> <a routerLink="/about" class="btn_3">Qui sommes-nous?</a>
                            </p>
                        </li>
                        <li>
                            <span class="flaticon-plane"><img src="../../../assets/img/add.png" width="75%" alt=""></span>
                            <h3 style="margin-left: 12px;">Nous Rejoindre</h3>
                            <p style="margin-left: 12px;">
                                Pour répondre aux exigences de nos clients
                                <br> <a routerLink="/cariere" class="btn_3">Postuler</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="prestations">
    </div>
</section>
<!-- about part end-->

<!-- our_service start-->
<section class="our_service padding_top">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="section_tittle">
                    <h2>NOS PRESTATIONS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xl-3">
                <div class="single_feature">
                    <div class="single_service">
                        <span class="flaticon-ui"><i class="fa fa-eye"></i></span>
                        <h4>Sécurité Humaine</h4>
                        <p>Accueil et Protection <br> rapprochée</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="single_feature">
                    <div class="single_service">
                        <span class="flaticon-ui"><i class="fa fa-signal"></i></span>
                        <h4>Sécurité Entreprises</h4>
                        <p>Accueil, Surveillance et Gardiennage</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="single_feature">
                    <div class="single_service single_service_2">
                        <span class="flaticon-ui"><i class="fa fa-fire"></i></span>
                        <h4>Sécurité Incendie</h4>
                        <p>Service de Sécurité Incendie et d'Assistance à Personnes</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="single_feature">
                    <div class="single_service single_service_2">
                        <span class="flaticon-ui"><i class="fa fa-street-view"></i></span>
                        <h4>Sécurité Evènementielle</h4>
                        <p>Sureté des évènements, <br> accueil et gestion</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our_service part end-->

<!-- member_counter counter start 
<section class="member_counter padding_bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single_counter_icon">
                    <img src="../../../assets/img/icon/Icon_1.svg" alt="">
                </div>
                <div class="single_member_counter">
                    <span class="counter">60</span>
                    <h4> <span>Satisfied</span> Client</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_counter_icon">
                    <img src="../../../assets/img/icon/Icon_2.svg" alt="">
                </div>
                <div class="single_member_counter">
                    <span class="counter">10</span>
                    <h4> <span>Worldwide</span> Branches</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_counter_icon">
                    <img src="../../../assets/img/icon/Icon_3.svg" alt="">
                </div>
                <div class="single_member_counter">
                    <span class="counter">80</span>
                    <h4> <span>Total</span> Projects</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_counter_icon">
                    <img src="../../../assets/img/icon/Icon_4.svg" alt="">
                </div>
                <div class="single_member_counter">
                    <span class="counter">24</span>
                    <h4> <span>Work</span> Finished</h4>
                </div>
            </div>
        </div>
    </div>
</section>
member_counter counter end -->

 <!-- our_service start-->
 <section class="our_service padding_top bg" id="agence">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="section_tittle">
                    <h2>NOTRE AGENCE</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xl-4">
                <div class="single_feature">
                    <div class="single_service">
                        <span class="flaticon-ui"><i class="fa fa-lock"></i></span>
                        <h2>Sécurisez votre entreprise</h2><br>
                        <h4>Services</h4> 
                        <p>
                            Présence dans les locaux <br>
                            Contrôle installations de sécurité <br>
                            Sécurité des personnes <br>   
                            Préservation des biens <br>
                            Reception des résidents
                        </p>
                        <a routerLink="/securite" class="btn_3">lire plus</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-4">
                <div class="single_feature">
                    <div class="single_service">
                        <span class="flaticon-ui"><i class="fa fa-umbrella"></i></span>
                        <h2>Prévenez les <br> risques</h2><br>
                        <h4>Prévention proposées</h4>
                        <p>
                            Contrôle de matériel <br>
                            Contrôle de systèmes d’alarmes<br>
                            Exploitabilité extincteurs <br>
                            Assimilation des risques existants <br>
                            Gestion de l’évacuation
                        </p>
                        <a routerLink="/prevention" class="btn_3">lire plus</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-4">
                <div class="single_feature">
                    <div class="single_service single_service_2">
                        <span class="flaticon-ui"><i class="fa fa-users"></i></span>
                        <h2>Demandez une <br> assistance</h2> <br>
                        <h4>Besoins d'assistance ?</h4>
                        <p>
                            Pour .. <br>
                            Vos services d'accueils <br>
                            Missions de surveillance <br>
                            Missions de sécurisation <br>
                            Assistance personnel
                        </p>
                        <a routerLink="/assistance" class="btn_3">lire plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our_service part end-->

<!-- review part start-->
<section class="review_part section_padding">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-end">
            <div class="col-lg-5 col-xl-4">
                <div class="tour_pack_text">
                    <h2>Interventions</h2>
                    <p>Nos domaines d'intervention</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="review_part_cotent owl-carousel">
                    <div class="single_review_part">
                        <img src="../../../assets/img/client/client_2.png" alt="">
                        <div class="tour_pack_content">
                            <h4>Prévention</h4>
                            <p>Sécurité préventive</p>
                        </div>
                    </div>
                    <div class="single_review_part">
                        <img src="../../../assets/img/client/client_1.png" alt="">
                        <div class="tour_pack_content">
                            <h4>Rondes</h4>
                            <p>Rondes de sécurisation</p>
                        </div>
                    </div>
                    <div class="single_review_part">
                        <img src="../../../assets/img/client/client_3.png" alt="">
                        <div class="tour_pack_content">
                            <h4>Incendie</h4>
                            <p>Agent de sécurite incendie</p>
                        </div>
                    </div>
                    <div class="single_review_part">
                        <img src="../../../assets/img/client/client_4.png" alt="">
                        <div class="tour_pack_content">
                           <h4>Sécurite cynophile</h4>
                           <p>Agent de securite cynophile</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- review part end-->
<div id="publications">
</div>

<!--::blog_part start::-->
<section class="blog_part section_padding" style="margin-top: 50px; margin-bottom: 70px;">
    <div class="container">
        <div class="row ">
            <div class="col-xl-6">
                <div class="section_tittle ">
                    <h2>NOS PUBLICATIONS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <div class="single-home-blog">
                    <div class="card">
                        <img src="../../../assets/img/blog/blog_1.png" class="card-img-top" alt="blog">
                        <div class="card-body">
                            <a href="blog.html">
                                <h5 class="card-title">Rejoindre notre équipe</h5>
                            </a>
                            <p>
                                Devenir membre de l’équipe ?? Si vous pensez avoir les aptitudes nécessaires 
                                pour ce  job  veuillez  postuler en remplissant le formulaire ci-dessous. 
                                Merci de joindre votre cv. [...]
                            </p>
                            <a routerLink="/cariere" class="btn_3">lire plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <div class="single-home-blog">
                    <div class="card">
                        <img src="../../../assets/img/blog/blog.png" class="card-img-top" alt="blog">
                        <div class="card-body">
                            <a routerLink="/publication-single">
                                <h5 class="card-title">Sécurité : les premiers</h5>
                            </a>
                            <p>
                                Sécurité : les premiers chiffres de la criminalité et de la délinquance en 2017 
                                le 2 février 2018 Le service statistique ministériel de la sécurité intérieure 
                                (SSMSI) a publié le 24 janvier 2[...]
                            </p>
                            <a routerLink="/publication-single" class="btn_3">lire plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <div class="single-home-blog">
                    <div class="card">
                        <img src="../../../assets/img/blog/blog_3.png" class="card-img-top" alt="blog">
                        <div class="card-body">
                            <a href="blog.html">
                                <h5 class="card-title">Regard sur ..</h5>
                            </a>
                            <p>
                                La délinquance qui ne s’arrête jamais Paris la nuit : enquête sur la délinquance qui 
                                ne s’arrête jamais  , la tombée de la nuit souvent très mouvementé pour les policiers ….[...]
                            </p>
                            <a routerLink="/devis" class="btn_3">lire plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::blog_part end::-->
