<!-- about part start-->
<section class="about_part experiance_part section_padding" style="margin-top: -5px; margin-bottom: 70px;">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 col-lg-6">
                <div class="about_part_text">
                    <h2>Rejoindre notre équipe</h2>
                    <p>
                        Devenir membre de l’équipe ?<br> Si vous pensez avoir les aptitudes nécessaires pour ce  job  veuillez  postuler en
                        remplissant le champ ci-dessous.
                    </p>
                    <div class="about_text_iner" style="margin-top: -40px;">
                        <ul>
                            <li>
                                <span class="flaticon-plane"><i class="ti-files"></i></span>
                                <form action="">
                                    <div class="form-group">
                                        <input class="form-control" id="email" type="email" formControlName="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" placeholder = 'Email'>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Merci de nous envoyer votre cv.</label>
                                        <input class="form-control-file" name="name" type="file" style="margin-top: -5px;">
                                    </div>
                                    <div class="form-group mt-3">
                                        <button type="submit" class="button button-contactForm btn_1 ">Postuler</button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="about_part_img">
                    <img src="../../../assets/img/experiance_img2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part end-->