<!-- about part start-->
<section class="about_part experiance_part section_padding" style="margin-top: -5px;">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 col-lg-6">
                <div class="about_part_text">
                    <h2>Sécurisez votre entreprise</h2>
                    <p>
                        Devenir membre de l’équipe ? Si vous pensez avoir les aptitudes nécessaires pour ce  job  veuillez  postuler en
                        remplissant le champ ci-dessous. <br><br>
                        <a routerLink="/devis" class="btn_3">Demander un devis</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="about_part_img">
                    <img src="../../../assets/img/experiance_img3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part end-->

<!-- our_service start-->
<section class="our_service padding_top" id="prestations" style="margin-bottom: 70px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="section_tittle">
                    <h2>Services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xl-5">
                <div class="row">
                    <div class="col-sm-6 col-xl-6">
                        <div class="single_feature">
                            <div class="single_service single_service_2">
                                <span class="flaticon-ui"><i class="fa fa-users"></i></span>
                                <h4>Reception des résidents</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-6">
                        <div class="single_feature">
                            <div class="single_service">
                                <span class="flaticon-ui"><i class="fa fa-video-camera"></i></span>
                                <h4>Contrôle installations de sécurité</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-7">
                <div class="row">
                    <div class="col-sm-6 col-xl-4">
                        <div class="single_feature">
                            <div class="single_service">
                                <span class="flaticon-ui"><i class="fa fa-home"></i></span>
                                <h4>Présence dans les locaux</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="single_feature">
                            <div class="single_service single_service_2">
                                <span class="flaticon-ui"><i class="fa fa-street-view"></i></span>
                                <h4>Sécurité des personnes</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="single_feature">
                            <div class="single_service single_service_2">
                                <span class="flaticon-ui"><i class="fa fa-desktop"></i></span>
                                <h4>Préservation des biens</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
           
        </div>
    </div>
</section>
<!-- our_service part end-->