<!-- ================ contact section start ================= -->
<section class="contact-section section_padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="contact-title">Contact</h1>
      </div>

      <div class="col-lg-8">
        <form class="form-contact contact_form" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input class="form-control" id="name" type="text" formControlName="name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nom'" placeholder = 'Nom'>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input class="form-control" id="email" type="email" formControlName="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" placeholder = 'Email'>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <textarea class="form-control w-100" formControlName="message" id="" cols="30" rows="10" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Votre adresse complète'" placeholder = 'Votre adresse complète'></textarea>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="button button-contactForm btn_1">Envoyer</button>
            </div>
          </div>
          <br><br>
        </form>
      </div>

      <div class="col-lg-4">
        <div class="media contact-info">
          <span class="contact-info__icon"><i class="ti-home"></i></span>
          <div class="media-body">
            <h3>2S GARANTIE 10 Rue de la JOHARDIERE</h3>
            <p>Rosemead, CA 91770</p>
          </div>
        </div>
        <div class="media contact-info">
          <span class="contact-info__icon"><i class="ti-tablet"></i></span>
          <div class="media-body">
            <h3>02 85 52 34 18</h3>
            <p><span> Astreinte :</span> 07 60 55 33 21 <br> 
               <span> Fax :</span> 09 72 46 35 68 <br> 
               <span>BP : </span>44887 Saint Herblain</p>
          </div>
        </div>
        <div class="media contact-info">
          <span class="contact-info__icon"><i class="ti-email"></i></span>
          <div class="media-body">
            <h3>contact@2sgarantie.com</h3>
            <p>Envoyez-nous votre demande à tout moment!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================ contact section end ================= -->

<!-- start map section -->
<div class="xs-map-sec">
  <div class="xs-maps-wraper">
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d21675.65971819629!2d-1.6493369!3d47.227197!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805933479091d3f%3A0xc342911ca95b34bd!2s10%20Rue%20de%20la%20Johardi%C3%A8re%2C%2044800%20Saint-Herblain%2C%20France!5e0!3m2!1sfr!2ssn!4v1600071855584!5m2!1sfr!2ssn" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
  </div>
</div>
<!-- End map section -->